{% extends 'base.html' %}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3 text-center">
        <h2>Job Locations Map</h2>
      </div>
    </div>
  <div id="map" style="height: 500px; margin-top: 20px; margin-bottom: 10px;"></div>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>
  const map = L.map('map').setView([33.7722, -84.3902], 13); // Centered on GT at zoom level 13

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '© OpenStreetMap contributors'}).addTo(map);

</script>
{% endblock %}

